body {
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container_retirar {
    text-align: center;
    color: white;
    right: 520px;
    bottom: 160px;
  }
  
  .status_retirar {
    color: white;
    text-align: center;
    border: 5px solid red;
    font-size: 15px;
    top: 1px;
    padding-left: 43.5%;
    padding-right: 43.5%;
    background-color: red;
  }
  
  .order {
    margin-top: 60px;
    background-color: white;
    color: black;
    bottom: 100px;
    padding: 10px;
    border: 5px solid red;
    border-radius: 10px;
    width: 200px;
    text-align: left;
    bottom: 100px;
  }
  
  .order-header {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .order-items {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .order-items li {
    margin-bottom: 5px;
  }
  
  .button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 70px;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  
  }
  
  .button:hover {
    background-color: darkred;
  }
  